extends layout

block layout-content
  div.View
    h1.Banner Hatchways Assesment Solution
    div.Message
      div.Title
        h3 Making the Best
        h1 Food For Devsjdjdjddj
      span.Details Access the WHATABYTE Team Portal
